@font-face {
  font-family: 'LogoFont';
  src: url('./assets/fonts/pertiway/Pertiway-Regular.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  /* background-color: #edeec0; */
}

h1 {
  font-family: 'LogoFont', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}